<mat-card style="max-width: 400px;">
  <h2>Eiffel Tower</h2>
  <img mat-card-image
       src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80"
       alt="">
  <mat-card-content>
    The Eiffel Tower is a wrought-iron lattice tower on the Champ de Mars in Paris, France. It is named after the
    engineer Gustave Eiffel, whose company designed and built the tower.
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>
      <mat-icon>thumb_up</mat-icon>
      Like
    </button>
    <button mat-button>
      <mat-icon>share</mat-icon>Share
    </button>
  </mat-card-actions>
</mat-card>
